body {
  margin: 0 0 -100px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* font-family: 'Roboto', sans-serif; */
background-image: linear-gradient( to right, rgb(212, 212, 12),rgb(131, 131, 43),red,green);
box-sizing: border-box;
padding: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
